@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display: block;
}
*{
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  display: none;
}
@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}
/* Đảm bảo sidebar được hiển thị đầy đủ khi visible */
.header-pc .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow-y: auto;
  transition: width 0.3s ease;
}

/* Khi visible = true */
.header-pc .sidebar.visible {
  width: 100%; /* Hoặc điều chỉnh theo thiết kế */
}

/* Khi visible = false */
.header-pc .sidebar {
  width: 0;
}

/* Nội dung bên trong sidebar */
.header-pc .sidebar .menu-item {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.header-pc .sidebar .menu-item a {
  color: #333;
  text-decoration: none;
}

.header-pc .sidebar .menu-item:hover a {
  color: #000;
}

.footer{
  background-color: darkseagreen;
}